<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<!-- Add fields to Order API response -->
	<type name="Magento\Sales\Api\OrderRepositoryInterface">
		<plugin name="ecinternet_base-sales_api_orderrepositoryinterface"
		        type="ECInternet\Base\Plugin\Sales\Api\OrderRepositoryInterfacePlugin" />
	</type>

	<!-- Custom Logger - Must be injected into each class which needs it -->
	<virtualType name="ECInternetBaseLogger" type="Magento\Framework\Logger\Monolog">
		<arguments>
			<argument name="handlers" xsi:type="array">
				<item name="system" xsi:type="object">ECInternet\Base\Logger\Handler</item>
			</argument>
		</arguments>
	</virtualType>
</config>
