<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="ECInternet_Base::base"
		     title="EC Internet Extensions"
		     module="ECInternet_Base"
		     sortOrder="500"
		     resource="ECInternet_Base::base"
		/>

		<add id="ECInternet_Base::menu"
		     title="Base"
			 translate="title"
		     module="ECInternet_Base"
		     parent="ECInternet_Base::base"
			 sortOrder="10"
		     resource="ECInternet_Base::menu"
		/>

		<add id="ECInternet_Base::settings"
		     title="Settings"
			 translate="title"
		     module="ECInternet_Base"
		     parent="ECInternet_Base::menu"
			 sortOrder="10"
		     action="adminhtml/system_config/edit/section/base"
		     resource="ECInternet_Base::settings"
		/>
	</menu>
</config>
